@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700');

html, body {
    font: 400 18px/1.4 "Source Sans Pro", arial, sans-serif;
    color: #444;
}

a {
    color: #0E9CCA;
}

